@mixin transition() {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
@mixin transition1() {
  -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
      -ms-transition: 0.5s;
          transition: 0.5s;
}
@mixin box-shadow() {
	-webkit-box-shadow: 0 0 20px #333;
	-moz-box-shadow: 0 0 20px #333;
	-ms-box-shadow: 0 0 20px #333;
	box-shadow: 0 0 20px #333;
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
