$ff: 'Lato', sans-serif;
$color: #000;
$p15: 15px 0 0;
$p20: 20px 0;
$yellow: #ffcf18;
$fa: #181715;
$p0: 0;
@import 'mixins';
$tl: center;
$ff1: 'Lemon', cursive;
$fs: 17px;
$white: #fff;
@font-face {
    font-family: 'playfair_displayregular';
    src: url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family: $ff !important;
	overflow-x: hidden;
}
%fa-padding{
	padding:5px 6px;
}
%content{
	content: "";
	height: 5px;
	position: absolute;
	bottom: 0;
}
.main-header{
	.navbar{
		padding: 0;
	}
	.nav-item{
		padding: $p20;
	}
	img{
		padding: $p15;
	}
	.navbar-expand-lg .navbar-nav .nav-link{
		padding-right: 1rem;
		padding-left: 1rem;
		font-family: 'playfair_displayregular';
		font-weight: 600;
		color: $color;
		opacity:1;
		letter-spacing: 1px;
		@include transition();
		font-size: $fs;
	}
	.navbar-expand-lg .navbar-nav .nav-link:hover{
		color: $yellow;
	}
	.navbar-light .navbar-nav .active>.nav-link{
		color: $yellow;
		opacity: 1;
	}
	.fa{
		background-color: $fa;
		color: $white;
		margin: 0 5px;
	    border-radius: 50%;
	    width: 25px;
	    height: 25px;
	    padding: 5px 8px;
	}
	.fa.fa-twitter, .fa.fa-instagram{
		@extend %fa-padding;
	}
	.fa-youtube-play{
		padding: 5px;
	}
	.sidenav {
	    height: 100%;
	    width: 100%;
	    position: fixed;
	    z-index: 999999;
	    top: 0;
	    left: -400px;
	    background-color: #111;
	    overflow-x: hidden;
	    transition: 0.5s;
	    padding-top: 60px;
	    display: none;
	    .closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px;
			margin-left: 50px;
		}
		a {
		    padding: 8px 8px 8px 32px;
		    text-decoration: none;
		    font-size: 17px;
		    color: #818181;
		    display: block;
		    transition: 0.3s;
		}
	}
}
.nopadding{
	padding: $p0 !important;
}
.flexslider{
	border:0;
	.flex-caption {
	  	width: 100%;
	  	padding: 2%;
	  	left: 0;
	  	bottom: 60px;
	  	background: rgba(0,0,0,.5);
	  	color: $white;
	  	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	  	font-size: 25px;
	  	line-height: 18px;
	  	position: absolute;
	  	font-family: $ff1;
	  	padding-bottom: 10px;
	}
}
.mts-spec{
	position:relative;
	z-index: 9;
	top: -90px;
	.spec{
		border: 1px solid #ddd;
		padding-bottom: 10px;
		@include transition();
		h4{
			background-color: $yellow;
			padding: 15px;
			font-family: $ff1;
			font-size: 20px;
		}
	}
	.spec:hover{
		@include box-shadow();
	}
}
.abt-mts{
	background-color: $yellow;
	padding: 20px 20px 10px;
	margin-bottom: 50px;
	@include border-radius(5px);
	@include box-shadow();
	h2{
		text-align: $tl;
		font-family: $ff1;
		padding-top: 70px;
	}
	p{
		text-align: justify;
		line-height: 25px;
		font-size:$fs;
	}
	a{
		color: $color;
		text-decoration:underline;
		float: right;
	}
}
.title{
	position: relative;
	padding-bottom: 10px;
	h2{
		font-size: 30px;
		text-transform: uppercase;
		font-weight: bold;
		font-family: $ff1;
	}
}
.title:before, .title:after{
	@extend %content;
}
.title:before{
	width: 15px;
	left: 0;
	background: #222222;
}
.title:after{
	width: 100px;
    background: $yellow;
    left: 18px;
}
.service{
	.single-service{
		border: 1px solid #ddd;
    	min-height: 370px;
    	margin-top: 30px;
    	margin-bottom: 5px;
    	position: relative;
    	overflow: hidden;
    	@include transition1();
    	.service-img{
    		@include transition1();
    		img{
    			width: 100%;
    		}
    	}
	}
	.service-content{
		padding: 35px 20px 20px;
	    position: absolute;
	    background: $white;
	    bottom: -35px;
	    width: 100%;
	    @include transition1();
	    .read_more {
		    position: relative;
		    top: 4px;
		    a{
		    	color: #343434;
			    font-size: 13px;
			    font-weight: 400;
			    line-height: 24px;
		    }
		}
	}
	.single-service:hover .service-content{
		bottom: 17px;
	}
	.single-service:hover{
		box-shadow: 0px 0 30px rgba(0,0,0,0.4);
	}
}
.products{
	ul{
		padding: 0;
		margin-top: 30px;
	}
	.ch-item {
		width: 100%;
		height: 100%;
		position: relative;
		box-shadow: 0 1px 2px rgba(0,0,0,0.1);
		cursor: default;
		background-repeat: no-repeat;
	    background-size: cover;
	    background-position: 50% 0;
		.ch-info-wrap{
			position: absolute;
			width: 210px;
			height: 210px;
			-webkit-perspective: 800px;
			-moz-perspective: 800px;
			-o-perspective: 800px;
			-ms-perspective: 800px;
			perspective: 800px;
			-webkit-transition: all 0.4s ease-in-out;
			-moz-transition: all 0.4s ease-in-out;
			-o-transition: all 0.4s ease-in-out;
			-ms-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
			top: 20px;
			left: 20px;
			box-shadow: 
				0 0 0 20px rgba(255,255,255,0.2), 
				inset 0 0 3px rgba(115,114, 23, 0.8);
			.ch-info{
				position: absolute;
				width: 210px;
				height: 210px;
				border-radius: 50%;
				-webkit-transition: all 0.4s ease-in-out;
				-moz-transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out;
				-ms-transition: all 0.4s ease-in-out;
				transition: all 0.4s ease-in-out;
				-webkit-transform-style: preserve-3d;
				-moz-transform-style: preserve-3d;
				-o-transform-style: preserve-3d;
				-ms-transform-style: preserve-3d;
				transform-style: preserve-3d;
			}
		}
	}
	.ch-info > div {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: center center;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.ch-info .ch-info-back {
		-webkit-transform: rotate3d(0,1,0,180deg);
		-moz-transform: rotate3d(0,1,0,180deg);
		-o-transform: rotate3d(0,1,0,180deg);
		-ms-transform: rotate3d(0,1,0,180deg);
		transform: rotate3d(0,1,0,180deg);
		text-align: center;
		background: #000;
	}

	.ch-info h3 {
		color: $white;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 14px;
		margin: 0 15px;
		padding: 40px 0 0 0;
		height: 90px;
		text-align: center;
		font-family: 'Open Sans', Arial, sans-serif;
		text-shadow: 
			0 0 1px $white, 
			0 1px 2px rgba(0,0,0,0.3);
	}

	.ch-info p {
		color: $white;
		padding: 10px 5px;
		font-style: italic;
		margin: 0 30px;
		font-size: 12px;
		border-top: 1px solid rgba(255,255,255,0.5);
	}

	.ch-info p a {
		display: block;
		color: $white;
		color: rgba(255,255,255,0.7);
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 9px;
		letter-spacing: 1px;
		padding-top: 4px;
		font-family: 'Open Sans', Arial, sans-serif;
	}

	.ch-info p a:hover {
		color: #fff222;
		color: rgba(255,242,34, 0.8);
	}

	.ch-item:hover .ch-info-wrap {
		box-shadow: 
			0 0 0 0 rgba(255,255,255,0.8), 
			inset 0 0 3px rgba(115,114, 23, 0.8);
	}

	.ch-item:hover .ch-info {
		-webkit-transform: rotate3d(0,1,0,-180deg);
		-moz-transform: rotate3d(0,1,0,-180deg);
		-o-transform: rotate3d(0,1,0,-180deg);
		-ms-transform: rotate3d(0,1,0,-180deg);
		transform: rotate3d(0,1,0,-180deg);
	}
	.ch-grid li {
		width: 250px;
		height: 250px;
		display: inline-block;
		margin-right: 25px;
	}
}
.about-bg{
	background-image: url(../img/slider2.jpg);
	background-size: cover;
	padding: 50px 50px 20px;
	background-position: 100% 50%;
	position: relative;
	h1{
		font-family: $ff1;
		color: $white;
	}
	a{
		color: $white;
	}
	span{
		color: $white;
	}
}
.about-bg:before{
	background-color: rgba(0,0,0,0.6);
	width:100%;
	height :100%;
	content: '';
	display : block;
	position: absolute;
	top: 0;
	left: 0;
}
.about-content{
	padding:50px 0;
	h2{
		font-family: $ff1;
	}
}
.contact{
 	i{
		font-size: 25px;
		color: $yellow;
	}
	p{
		margin-bottom: 5px;
	}
	.contact-social{
		padding: 10px 0;
    	list-style: none;
    	li{
    		display: inline-block;
    		margin: 0 20px 0 0;
    		a{
    			width: 28px;
			    border: 1px solid #000;
			    display: block;
			    text-align: center;
			    font-size: 14px;
			    line-height: 26px;
			    transition: 0.3s;
			    i{
			    	color: $color;
			    	font-size: 14px;
			    }
    		}
    		a:hover{
    			background-color: $yellow;		
    		}
    		a:hover i{
				color: $white;
			}
    	}
	}
}
.message-section{
    padding: 40px 0 20px;
    .form-control{
	    background: #f7f7f7;
	    border-color: #e5e7ed;
	    border-radius: 0;
	    height: 40px;
    }
    button{
    	background-color: $yellow;
    	color: $white;
    	padding: 10px 30px;
    	font-size: 20px;
    }
}
.single_service_details{
	.single_service_img{
		padding: 0 32px;
	    position: relative;
	    margin-top: 32px;
	    margin-bottom: 41px;
	    img{
	    	width: 100%;
	    }
	}
	.single_service_img:after{
		position: absolute;
	    content: "";
	    height: 100%;
	    width: 100%;
	    border: 1px solid #eeeeee;
	    top: -32px;
	    z-index: -1;
	    left: 0;
	}
	.single_service{
		border: 1px solid #eee;
    	padding: 38px 30px 10px 30px;
    	p{
    		line-height: 25px;
    		text-align: justify;
    	}
	}
}
.more_services {
    border: 1px solid #eee;
    padding: 20px;
    background: #ffcf18;
    ul {
	    padding: 0;
	    list-style: none;
	    li {
		    border-bottom: 1px solid $white;
		    padding: 10px 0;
		    a {
			    color: #fff;
			    font-size: 17px;
			    transition: 0.4s;
			}
			a:hover{
				text-decoration: none;
				color: $color;
			}
		}
	}
}
#products, #gallery, #video_gallery{
	.col-lg-4{
		float: left;
		margin-bottom: 10px;
	}
	h4, p{
		color: #333;
	}
	a:hover{
		text-decoration: none;
	}
}
#gallery, #video_gallery{
	.gallery-overlay {
	    position: absolute;
	    top: 0;
	    width: 92%;
	    text-align: center;
	    height: 96%;
		display: block;
		@include transition();
	    h4{
	    	background: rgba(255, 207, 24, 0.8);
		    padding: 10px;
		    color: #fff;
	    }
	    i{
	    	position: relative;
		    top: 40px;
		    background: #ddd;
		    padding: 15px;
		    font-size: 30px;
		    color: #000;
		    display: none;
			@include transition();
	    }
	}
	.gallery-overlay:hover i{
		display: inline-block;;	
	}
}
.gallery{
	.nav-tabs{
		border-bottom: 0;
		.nav-link.active{
			background-color: $yellow;
			color: $white;
			border-radius: 0;
			border-color: $yellow;
		}
		.nav-link{
			font-size: 22px;
			color: $color;
			border-radius: 0;
		}
		.nav-link:hover{
			background-color: $yellow;
			color: $white;
			border-color: $yellow;
		}
	}
}
.arabic_about{
	p{
		text-align: right;
		direction: rtl;
	}
}
.arabic_service{
	.title:before{
		left: -50px;
	}
	.title:after{
		left: -30px;
	}
	ul{
		float: right;
		direction: rtl;
		li{
			margin-right: 0 !important;
			margin-left: 25px;
		}
	}
}
.arabic_product{
	#products{
		.col-lg-4{
			float: right;
		}
	}
}
.flex-direction-nav a{
	height: 48px;
}
footer{
	background-color: #222;
	color: $white;
	ul{
		padding: 10px 0;
		list-style: none;
		a{
			color: $white;
			line-height: 30px;
			font-size: 17px;
		}
		a:hover{
			color: $white;
		}
		span{
			font-size: 24px !important;
		    line-height: 28px;
		    color: $yellow;
		    display: inline-block !important;
		    vertical-align: middle;
		}
		.address_right{
		    display: inline-block;
		    vertical-align: middle;
		    color: $white;
		    padding-left: 18px;
		}
	}
	.social li {
	    display: inline-block;
	    margin: 0 20px 0 0;
	    a {
		    width: 28px;
		    border: 1px solid $white;
		    display: block;
		    text-align: center;
		    font-size: 14px;
		    line-height: 26px;
		    transition: 0.3s;
		}
		a:hover{
			background-color: $yellow;
			color: #000;
		}
	}
	.title:before{
		background:$white;
	}
	.big_footer_wrapper {
	    position: relative;
	    padding-top: 120px;
	}
	.big_footer_wrapper:before{
		background: $white none repeat scroll 0 0;
	    content: "";
	    height: 60px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: calc((100vw - 1170px) / 2 + 263px);
	}
	.big_footer_wrapper:after{
		content: "";
		position: absolute;
		border-bottom: 60px solid transparent;
		border-right: 62px solid $white;
		top: 0px;
		left: 0px;
		right: calc((100vw - 1170px) / 2 + 263px);
	}
	.copyright-foeter{
		background-color: $yellow;
		padding: 10px;
		p{
			margin: 0;
			font-size: 16px;
			color: #000;
		}
	}
	.arabic_social{
		li{
			margin:0 0px 0 20px;
		}
	}
}
.flexslider{
	video{
		position: relative !important;
	    width: 100% !important;
	    right: auto !important;
	    left: auto !important;
	    top: auto !important;
	    bottom: auto !important;
	    height: 650px !important;
	}
	.flex-control-nav{
		display: none;
	}
	.slides img{
		height: 750px;
	}
}
@media(max-width:991px){
	.main-header .navbar{
		float:right;
		margin-top:15px;
	}
	.collapse, .navbar-nav, .main-header .fa{
		display: none;
	}
}
@media(max-width: 480px){
	.flex-caption{
	display: none;
	}
}
body.arabic{
	font-family: 'Cairo', sans-serif !important;
}
.arabic{ 
	.main-header .navbar-expand-lg .navbar-nav .nav-link{
		font-family: 'Cairo', sans-serif;
		font-size: 15px;
	}
	.flexslider .flex-caption, .mts-spec .spec h4, .abt-mts h2,.title h2, .about-bg h1{
		font-family: 'Cairo', sans-serif;
	}
	footer ul a{
		font-size: 16px;
	}
	.gallery .nav-tabs, #video_gallery .col-lg-4, #gallery .col-lg-4{
		float: right;
		direction: rtl;
	}
}