@font-face {
  font-family: 'playfair_displayregular';
  src: url("../fonts/playfairdisplay-regular-webfont.woff2") format("woff2"), url("../fonts/playfairdisplay-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Lato", sans-serif !important;
 
}

.main-header .fa.fa-twitter, .main-header .fa.fa-instagram {
  padding: 5px 6px;
}

.title:before, .title:after {
  content: "";
  height: 5px;
  position: absolute;
  bottom: 0;
}
.main-header{
	background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.main-header .navbar {
  padding: 0;
}
.main-header .nav-item {
  padding: 20px 0;
}
.main-header img {
  padding: 15px 0 0;
}
.main-header .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: 'playfair_displayregular';
  font-weight: 600;
  color: #fff;
  opacity: 1;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 17px;
}
.main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #ffcf18;
}
.main-header .navbar-light .navbar-nav .active > .nav-link {
  color: #ffcf18;
  opacity: 1;
}
.main-header .fa {
  background-color: #181715;
  color: #fff;
  margin: 0 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 5px 8px;
}
.main-header .fa-youtube-play {
  padding: 5px;
}
.main-header .sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: -400px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: none;
}
.main-header .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.main-header .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.nopadding {
  padding: 0 !important;
}

.flexslider {
  border: 0;
}
.carousel-fade .flex-caption {
  width: 100%;
  padding: 2%;
  left: 0;
  bottom: 180px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 25px;
  line-height: 18px;
  position: absolute;
  font-family: "Lemon", cursive;
  padding-bottom: 10px;
}

.mts-spec {
  position: relative;
  z-index: 9;
  top: -90px;
}
.mts-spec .spec {
  border: 1px solid #ddd;
  padding-bottom: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.mts-spec .spec h4 {
  background-color: #ffcf18;
  padding: 15px;
  font-family: "Lemon", cursive;
  font-size: 20px;
  margin-bottom: 0;
}
.mts-spec .spec:hover {
  -webkit-box-shadow: 0 0 20px #333;
  -moz-box-shadow: 0 0 20px #333;
  -ms-box-shadow: 0 0 20px #333;
  box-shadow: 0 0 20px #333;
}

.abt-mts {
  background-color: #ffcf18;
  padding: 20px 20px 10px;
  margin-bottom: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px #333;
  -moz-box-shadow: 0 0 20px #333;
  -ms-box-shadow: 0 0 20px #333;
  box-shadow: 0 0 20px #333;
}
.abt-mts h2 {
  text-align: center;
  font-family: "Lemon", cursive;
  padding-top: 50px;
}
.abt-mts p {
  text-align: justify;
  line-height: 25px;
  font-size: 17px;
}
.abt-mts a {
  color: #000;
  text-decoration: underline;
  float: right;
}

.title {
  position: relative;
  padding-bottom: 10px;
}
.title h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Lemon", cursive;
}

.title:before {
  width: 15px;
  left: 0;
  background: #222222;
}

.title:after {
  width: 100px;
  background: #ffcf18;
  left: 18px;
}

.service .single-service {
  border: 1px solid #ddd;
  min-height: 370px;
  margin-top: 30px;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.service .single-service .service-img {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.service .single-service .service-img img {
  width: 100%;
}
.service .service-content {
  padding: 35px 20px 20px;
  position: absolute;
  background: #fff;
  bottom: -35px;
  width: 100%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.service .service-content .read_more {
  position: relative;
  top: 4px;
}
.service .service-content .read_more a {
  color: #343434;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.service .single-service:hover .service-content {
  bottom: 17px;
}
.service .single-service:hover {
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.4);
}

.products ul {
  padding: 0;
  margin-top: 30px;
}
.products .ch-item {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: default;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
.products .ch-item .ch-info-wrap {
  position: absolute;
  width: 210px;
  height: 210px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  top: 20px;
  left: 20px;
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), inset 0 0 3px rgba(115, 114, 23, 0.8);
}
.products .ch-item .ch-info-wrap .ch-info {
  position: absolute;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.products .ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.products .ch-info .ch-info-back {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -o-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
  text-align: center;
  background: #000;
}
.products .ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  margin: 0 15px;
  padding: 40px 0 0 0;
  height: 90px;
  text-align: center;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.products .ch-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.products .ch-info p a {
  display: block;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}
.products .ch-info p a:hover {
  color: #fff222;
  color: rgba(255, 242, 34, 0.8);
}
.products .ch-item:hover .ch-info-wrap {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8), inset 0 0 3px rgba(115, 114, 23, 0.8);
}
.products .ch-item:hover .ch-info {
  -webkit-transform: rotate3d(0, 1, 0, -180deg);
  -moz-transform: rotate3d(0, 1, 0, -180deg);
  -o-transform: rotate3d(0, 1, 0, -180deg);
  -ms-transform: rotate3d(0, 1, 0, -180deg);
  transform: rotate3d(0, 1, 0, -180deg);
}
.products .ch-grid li {
  width: 250px;
  height: 250px;
  display: inline-block;
  margin-right: 25px;
}

.about-bg {
  background-image: url(../img/slider2.jpg);
  background-size: cover;
  padding: 130px 50px 20px;
  background-position: 100% 50%;
  position: relative;
}
.about-bg h1 {
  font-family: "Lemon", cursive;
  color: #fff;
}
.about-bg a {
  color: #fff;
}
.about-bg span {
  color: #fff;
}

.about-bg:before {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.about-content {
  padding: 50px 0;
}
.about-content h2 {
  font-family: "Lemon", cursive;
}

.contact i {
  font-size: 25px;
  color: #ffcf18;
}
.contact p {
  margin-bottom: 5px;
}
.contact .contact-social {
  padding: 10px 0;
  list-style: none;
}
.contact .contact-social li {
  display: inline-block;
  margin: 0 20px 0 0;
}
.contact .contact-social li a {
  width: 28px;
  border: 1px solid #000;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  transition: 0.3s;
}
.contact .contact-social li a i {
  color: #000;
  font-size: 14px;
}
.contact .contact-social li a:hover {
  background-color: #ffcf18;
}
.contact .contact-social li a:hover i {
  color: #fff;
}

.message-section {
  padding: 40px 0 20px;
}
.message-section .form-control {
  background: #f7f7f7;
  border-color: #e5e7ed;
  border-radius: 0;
  height: 40px;
}
.message-section button {
  background-color: #ffcf18;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
}

.single_service_details .single_service_img {
  padding: 0 32px;
  position: relative;
  margin-top: 32px;
  margin-bottom: 41px;
}
.single_service_details .single_service_img img {
  width: 100%;
}
.single_service_details .single_service_img:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border: 1px solid #eeeeee;
  top: -32px;
  z-index: -1;
  left: 0;
}
.single_service_details .single_service {
  border: 1px solid #eee;
  padding: 38px 30px 10px 30px;
}
.single_service_details .single_service p {
  line-height: 25px;
  text-align: justify;
}

.more_services {
  border: 1px solid #eee;
  padding: 20px;
  background: #ffcf18;
}
.more_services ul {
  padding: 0;
  list-style: none;
}
.more_services ul li {
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}
.more_services ul li a {
  color: #fff;
  font-size: 17px;
  transition: 0.4s;
}
.more_services ul li a:hover {
  text-decoration: none;
  color: #000;
}

#products .col-lg-6, #gallery .col-lg-4, #video_gallery .col-lg-4 {
  float: left;
  margin-bottom: 10px;
}
#products h4, #products p, #gallery h4, #gallery p, #video_gallery h4, #video_gallery p {
  color: #333;
}
#products p{
  text-align: justify;
}
#products a:hover, #gallery a:hover, #video_gallery a:hover {
  text-decoration: none;
}

#gallery .gallery-overlay, #video_gallery .gallery-overlay {
  position: absolute;
  top: 0;
  width: 92%;
  text-align: center;
  height: 96%;
  display: block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#gallery .gallery-overlay h4, #video_gallery .gallery-overlay h4 {
  background: rgba(255, 207, 24, 0.8);
  padding: 10px;
  color: #fff;
}
#gallery .gallery-overlay i, #video_gallery .gallery-overlay i {
  position: relative;
  top: 40px;
  background: #ddd;
  padding: 15px;
  font-size: 30px;
  color: #000;
  display: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#gallery .gallery-overlay:hover i, #video_gallery .gallery-overlay:hover i {
  display: inline-block;
}

.gallery .nav-tabs {
  border-bottom: 0;
}
.gallery .nav-tabs .nav-link.active {
  background-color: #ffcf18;
  color: #fff;
  border-radius: 0;
  border-color: #ffcf18;
}
.gallery .nav-tabs .nav-link {
  font-size: 22px;
  color: #000;
  border-radius: 0;
}
.gallery .nav-tabs .nav-link:hover {
  background-color: #ffcf18;
  color: #fff;
  border-color: #ffcf18;
}

.arabic_about p {
  text-align: right;
  direction: rtl;
}

.arabic_service .title:before {
  left: -50px;
}
.arabic_service .title:after {
  left: -30px;
}
.arabic_service ul {
  float: right;
  direction: rtl;
}
.arabic_service ul li {
  margin-right: 0 !important;
  margin-left: 24px;
}

.arabic_product #products .col-lg-4 {
  float: right;
}

.flex-direction-nav a {
  height: 48px;
}

footer {
  background-color: #222;
  color: #fff;
}
footer ul {
  padding: 10px 0;
  list-style: none;
}
footer ul a {
  color: #fff;
  line-height: 30px;
  font-size: 17px;
}
footer ul a:hover {
  color: #fff;
}
footer ul span {
  font-size: 24px !important;
  line-height: 28px;
  color: #ffcf18;
  display: inline-block !important;
  vertical-align: middle;
}
footer ul .address_right {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  padding-left: 18px;
}
footer .social li {
  display: inline-block;
  margin: 0 20px 0 0;
}
footer .social li a {
  width: 28px;
  border: 1px solid #fff;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  transition: 0.3s;
}
footer .social li a:hover {
  background-color: #ffcf18;
  color: #000;
}
footer .title:before {
  background: #fff;
}
footer .big_footer_wrapper {
  position: relative;
  padding-top: 120px;
}
footer .big_footer_wrapper:before {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: calc((100vw - 1170px) / 2 + 263px);
}
footer .big_footer_wrapper:after {
  content: "";
  position: absolute;
  border-bottom: 60px solid transparent;
  border-right: 62px solid #fff;
  top: 0px;
  left: 0px;
  right: calc((100vw - 1170px) / 2 + 263px);
}
footer .copyright-foeter {
  background-color: #ffcf18;
  padding: 10px;
}
footer .copyright-foeter p {
  margin: 0;
  font-size: 16px;
  color: #000;
}
footer .arabic_social li {
  margin: 0 0px 0 20px;
}

.carousel-fade video {
  position: relative !important;
  width: 100% !important;
  right: auto !important;
  left: auto !important;
  top: auto !important;
  bottom: auto !important;
  height: 650px !important;
}
.flexslider .flex-control-nav {
  display: none;
}
.flexslider .slides img {
  height: 750px;
}

@media (max-width: 991px) {
  .main-header .navbar {
    float: right;
    margin-top: 15px;
  }

  .collapse, .navbar-nav, .main-header .fa {
    display: none;
  }
}
body.arabic {
  font-family: 'Cairo', sans-serif !important;
}

.arabic .main-header .navbar-expand-lg .navbar-nav .nav-link {
  font-family: 'Cairo', sans-serif;
  font-size: 15px;
}
.arabic .carousel-fade .flex-caption, .arabic .mts-spec .spec h4, .arabic .abt-mts h2, .arabic .title h2, .arabic .about-bg h1 {
  font-family: 'Cairo', sans-serif;
}
.arabic footer ul a {
  font-size: 16px;
}
.arabic .gallery .nav-tabs, .arabic #video_gallery .col-lg-4, .arabic #gallery .col-lg-4 {
  float: right;
  direction: rtl;
}

/*# sourceMappingURL=style.css.map */

.navbar-light .navbar-toggler-icon{
	background-image: url(../img/icon-bar.png);
}
.flex-direction-nav .flex-next{
	right: 0;
}

.mbl-slide{
  display: none;
}
@media(max-width: 767px){
	footer .big_footer_wrapper:after{
		right: 0;
	}
	footer .big_footer_wrapper:before{
		width: 100%;
	}
  .mbl-slide{
    display: block;
  }
  .slider{display: none;}
  .carousel, .mts-spec{
    top: 55px;
  }
  .abt-mts{
    margin-top: 100px;
  }
}
@media (min-width: 551px) and (max-width: 767px){
	.arabic_service ul li{
		margin-left: 0;
	}
}
@media(max-width: 550px){
	.arabic_service ul{
		float: none;
	}
	.products .ch-grid li, .products .ch-item .ch-info-wrap{
		width: 90%;
	}
	.products .ch-item .ch-info-wrap .ch-info{
		width: 100%;
	}
  .mts-spec{
    top: 55px;
  }
  video, iframe{
    height: auto !important;
  }
  
}
@media(min-width: 414px) and (max-width: 960px){
	.products .ch-grid li, .products .ch-item .ch-info-wrap .ch-info{
		width: 100%;
	}
	.products .ch-item .ch-info-wrap{
		width: 95%;
	}
}
.carousel-fade .carousel-inner .carousel-item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .carousel-item.next,
    .carousel-fade .carousel-inner > .carousel-item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .carousel-item.prev,
    .carousel-fade .carousel-inner > .carousel-item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .carousel-item.next.left,
    .carousel-fade .carousel-inner > .carousel-item.prev.right,
    .carousel-fade .carousel-inner > .carousel-item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
.carousel-control {
    position: absolute;
    top: 40%;
    left: 15px;
    width: 50px;
    height: 50px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 50%;
    opacity: .5;
    filter: alpha(opacity=50);
}
.carousel-control.right {
    right: 15px;
    left: auto;
}
.carousel-control:hover{
  color: #fff;
  text-decoration: none;
}